.navbar-color {
  color: #87bbf6;
}

.main-bg {
  /* background-image: url(''); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* position: relative; */
}

.link-home  {
  text-decoration-line: none;
  padding-right: 10px;
  color: #83a6e2;
  font-size:x-large;
  font-weight: 500;
  text-shadow: 1px 1px 2px #83a6e2;
}

.link-detail {
  text-decoration-line: none;
  margin-left: 10px;
  color: black;
}

.slide-one {
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 2px #000000;
  font-size: x-large;
}

.card {
  border: none;
  padding-top: 10px;
  padding-left: -10px;
  padding-right: -10px;
}
.card img {
  /* position: absolute; */
  width: 252px;
  height: 200px;
  /* object-fit: cover; */
}

.Mcard img {
  /* position: absolute; */
  width: 200px;
  height: 200px;
  border-radius: 5%;
  filter:brightness(90%);
  text-align: center;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.4);
}

.Mcard-text {
  top: 50%;
  left: 50%;
  transform: translate(0%, -120%);
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 2px #5e5e5e;
}

.text-center {
  padding-right: 20%;
}

.container-list {
  margin-left: 20%;
}

.card-margin {
  margin: 10px;
}

.text-form-margin {
  width: 600px;
  margin-left: 80px;
}

.match-margin {
  margin-left: 20px;
}

.search-btn {
  padding-top: 8px;
  padding-left: 10px;
}

.moreBtn {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.nav-solid {
  border: solid 1px rgb(187, 187, 187);
}

.option-box {
  float: left;
  margin: 10px;
}

.mb-0 {
  display: flex;
  justify-content: center;
}

.option-box-margin {
  display: flex;
  justify-content: center;
  margin: 10px;
  /* align-items: center; */

}

.option-color {
  color: gray;
  font-size: small;
}

.badge-br {
  white-space: pre-wrap;
}

.AlertBox {
  width: 80%;
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}

.GlassIcon {
  margin-top: 35px;
}

.card-img img {
  width: 252px;
  height: 200px;
  /* display: inline-block; */
}

.card-img-brightness img {
  filter:brightness(80%)
}

.card-flex {
  display: flex;
  border: none;
  float: left;
}

.nav-solid-two {
  border: #a6badc solid 1px ;
  border-bottom: 10px;
}


.card {
  text-align: center;
}



.progress-bar {
  width: 400px;
  /* color: #97c8ff; */
  background-color: #83a6e2;
}

bg-primary {
  background-color: #83a6e2;
}

.user-menu-big {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

.userLike1 {
  font-weight: bold;
  margin: 30px;
  padding-bottom: 5px;

  appearance: button;

  text-transform: none;

  overflow: visible;

  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  background: none;
  border: none;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spinner-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-btn {
  background-color:#0a0a23;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px rgb(0,0,0);
  margin: 5%;
  position:fixed;
  font-size: x-small;
}

.mypage-btn:hover {
  background-color:#ffffff;
  transition: 0.7s;
  color: #000;
}

.mypage-btn-modify {
  background-color:#0a0a23;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px rgb(0,0,0);
  position: fixed;
  margin-left: 30px;
  margin-bottom: 20px;
}

.card-img-hover img {
  cursor: pointer;
}

.mypage-btn-img {
  background-color:#0a0a23;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px rgb(0,0,0);
  margin-left: 10px;
  margin-top: 10px;
  position:fixed;
  font-size: xx-small;
  margin-top: 80px;
}

.login-form {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.slide-font {
  color: white;
  font-weight: 100;
  text-shadow: 1px 1px 1px #000000;
}

.carousel {
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.4);
  border-radius: 1%;
}

.rounded {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.menuBar {
  
}

.dropdown-text {
  color: #ffffff;
}

.menu-bar-btn {
  /* margin: 10%; */
  margin-right: 10px;
  padding: 10%;
  float: left;
  position: relative;
}

.profile {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  padding: 13px;
  margin-left: 20%;
  margin-top: 3%;
  
}

.profile .user-menu-big {
  flex: 1;
}
/* 3961a5 */
.real-profile {
  border: solid #6aafe6;
  padding: 15px;
  background-color: #6aafe6;
  color: black;
  border-width: 45px;
  border-radius: 1%;
}

.black-text {
  color: black;
}

.new-btn {
  background-color: #6aafe6;
  box-sizing: border-box;
  color: #ffffff;
  position: relative;
  border: none;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 6px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  /* float: left; */
  padding: 10%;
  margin: -10%;
  width: 170px;
  height: 100px;
  position: relative;
}

.mypage-btn, .mypage-btn-img {
  position: sticky;
  top: 0;
}

.rounded-circle{
  margin-left: 20%;
}

.text-area {
  margin-left: 2%;
}

.new-btn.active {
  background-color: #fff;
  color: #000;
}